## Day 20 作業：將 missing 值替代為其他值

由於現實世界中的資料可能有缺漏，因此資料中就會有 missing 值存在，而在資料科學及機器學習中，缺漏值的處理關係到分析或預測的結果。

在今天的作業中，請將資料集中的年齡缺漏值，依性別分別替換為資料集中男性或女性的年齡平均值。

本次作業使用的資料集：Kaggle Titanic: Machine Learning from Disaster 的 train 資料集

競賽主頁：[https://www.kaggle.com/c/titanic/overview](https://www.kaggle.com/c/titanic/overview)

請自行下載資料集 **train.csv**：[https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [1]:
using DataFrames, CSV

In [3]:
df = CSV.read("train.csv")

891×12 DataFrame. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [4]:
# 檢視 DataFrame 的尺寸
size(df) # 891列(rows)、12行(columns)

(891, 12)

呼叫 `describe()` 函式時，加上 `:nmissing` 參數，顯示各 column 的 missing 值數目。

可以看到 Age 共有 177 個缺漏值。

In [5]:
# 彙總 DataFrame 資訊
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable    │ mean     │ min                 │ median  │
│     │ Symbol      │ Union…   │ Any                 │ Union…  │
├─────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1   │ PassengerId │ 446.0    │ 1                   │ 446.0   │
│ 2   │ Survived    │ 0.383838 │ 0                   │ 0.0     │
│ 3   │ Pclass      │ 2.30864  │ 1                   │ 3.0     │
│ 4   │ Name        │          │ Abbing, Mr. Anthony │         │
│ 5   │ Sex         │          │ female              │         │
│ 6   │ Age         │ 29.6991  │ 0.42                │ 28.0    │
│ 7   │ SibSp       │ 0.523008 │ 0                   │ 0.0     │
│ 8   │ Parch       │ 0.381594 │ 0                   │ 0.0     │
│ 9   │ Ticket      │          │ 110152              │         │
│ 10  │ Fare        │ 32.2042  │ 0.0                 │ 14.4542 │
│ 11  │ Cabin       │          │ A10                 │         │
│ 12  │ Embarked    │          │ C                   │         │

In [6]:
describe(df, :nmissing) # 加上 「:nmissing」 參數，顯示各 column 的 missing 值數目

12×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │

計算男性及女性的平均年齡。

【提示】使用 `skipmissing()` 去掉缺漏值後，再計算平均值。

In [7]:
using Statistics

In [8]:
male_age_avg = mean(skipmissing(df[df.Sex.== "male",:Age])) # 請輸入程式碼

30.72664459161148

In [9]:
female_age_avg = mean(skipmissing(df[df.Sex.== "female",:Age]))# 請輸入程式碼

27.915708812260537

將 Age column 中的 missing 值，依性別替換為上面計算出來的平均年齡值。

【提示】可產生新的 column 來存放新的結果，而不取代掉原先的 Age column。

In [10]:
# 請輸入程式碼
df2 = copy(df)

891×12 DataFrame. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [11]:
df2[df2.Sex.== "male", :Age] = coalesce.(df2[df2.Sex.== "male", :Age], male_age_avg)
df2[df2.Sex.== "female", :Age] = coalesce.(df2[df2.Sex.== "female", :Age], female_age_avg)

314-element Array{Float64,1}:
 38.0
 26.0
 35.0
 27.0
 14.0
  4.0
 58.0
 14.0
 55.0
 31.0
 27.915708812260537
 15.0
  8.0
  ⋮
 27.915708812260537
 42.0
 27.0
 47.0
 28.0
 15.0
 56.0
 25.0
 22.0
 39.0
 19.0
 27.915708812260537

In [12]:
show(df2[!,[:Sex, :Age]])

891×2 DataFrame
│ Row │ Sex    │ Age      │
│     │ String │ Float64⍰ │
├─────┼────────┼──────────┤
│ 1   │ male   │ 22.0     │
│ 2   │ female │ 38.0     │
│ 3   │ female │ 26.0     │
│ 4   │ female │ 35.0     │
│ 5   │ male   │ 35.0     │
│ 6   │ male   │ 30.7266  │
│ 7   │ male   │ 54.0     │
│ 8   │ male   │ 2.0      │
│ 9   │ female │ 27.0     │
│ 10  │ female │ 14.0     │
⋮
│ 881 │ female │ 25.0     │
│ 882 │ male   │ 33.0     │
│ 883 │ female │ 22.0     │
│ 884 │ male   │ 28.0     │
│ 885 │ male   │ 25.0     │
│ 886 │ female │ 39.0     │
│ 887 │ male   │ 27.0     │
│ 888 │ female │ 19.0     │
│ 889 │ female │ 27.9157  │
│ 890 │ male   │ 26.0     │
│ 891 │ male   │ 32.0     │